In [2]:
%load_ext autoreload
%autoreload 2

import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

from publicdata.census.files.metafiles import TableLookup
import shelve 

%matplotlib inline

mp.jupyter.init()

In [3]:
#pkg = mp.jupyter.open_package()
pkg = mp.jupyter.open_source_package()

# Setup importing form this package
pkg.set_sys_path()
import pylib # Import the code for the package
from pylib.census_path_processing import * 

pkg

# Metadata for the 2020 ACS
`civicknowledge.com-census_meta-2020e5-4.1.1` Last Update: 2023-05-18T19:06:55

_Deatilsed metadata for ACS releases._






## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* **[metadata](notebooks/build.ipynb#mdf)**. Combined columns and tables
* **[tables](notebooks/build.ipynb#tdf)**.
* **[columns](notebooks/build.ipynb#cdf)**.
* **[topics](notebooks/build.ipynb#topics_df)**.

In [4]:
year = 2020
release = 5

tl = TableLookup(year, release)
tdf = tl.tables_df
cdf = tl.columns_df

In [5]:
tl = TableLookup(year, release)
tdf = tl.tables_df

t = tdf[tdf.technical == False]
t.sample(10)

,table_id,seq,n_seg,start_pos,title,bare_title,technical,universe,subject,age,...,household,family,poverty_status,group_quarters,opposite_sex,marital_status,housing,education,units,redundant_paths
825,B25037,[119],1,42,Median Year Structure Built By Tenure,Median Year Structure Built,False,Occupied housing units,Housing,all,...,None,None,None,None,None,None,Y,None,housing,False
1000,B27022,[140],1,67,Health Insurance Coverage Status By Sex By Enr...,Health Insurance Coverage Status,False,Civilian noninstitutionalized population 19 to...,Health Insurance,019-025,...,None,None,None,noninstitutionalized,None,None,None,None,people,False
32,B02018,[3],1,169,Asian Alone Or In Any Combination By Selected ...,Or,False,Total Asian alone or in any combination popula...,Race,all,...,None,None,None,None,None,None,None,None,people,False
326,B11012,[36],1,126,Households By Type,Households,False,Households,Households - Families,all,...,Y,None,None,None,None,None,None,None,people,False
162,B07404D,[19],1,222,Geographical Mobility In The Past Year (Asian ...,Geographical Mobility,False,Asian alone population 1 year and over in the ...,Residence Last Year - Migration,001-120,...,None,None,None,None,None,None,None,None,people,False
691,B22005C,[74],1,54,Receipt Of Food Stamps/Snap In The Past 12 Mon...,Receipt Of Food Stamps/Snap,False,Households with a householder who is American ...,Transfer Programs,all,...,Y,None,None,None,None,None,None,None,people,False
392,B15001,[42],1,7,Sex By Age By Educational Attainment For The P...,Educational Attainment,False,Population 18 years and over,Educational Attainment,018-120,...,None,None,None,None,None,None,None,None,people,False
347,B12007C,[38],1,147,Median Age At First Marriage (American Indian ...,Median Age At First Marriage,False,American Indian and Alaska Native alone popula...,Marital Status,015-054,...,None,None,None,None,None,None,None,None,people,False
531,B19013I,[58],1,186,Median Household Income In The Past 12 Months ...,Median Household Income,False,Households with a householder who is Hispanic ...,Income,all,...,Y,None,None,None,None,None,None,None,dollars,False
91,B06004HPR,[12],1,242,"Place Of Birth (White Alone, Not Hispanic Or L...",Place Of Birth,False,"White alone, not Hispanic or Latino population...",Place of Birth - Native,all,...,None,None,None,None,None,None,None,None,people,False

In [6]:
t.groupby('bare_title').table_id.count().sort_values(ascending=False)

bare_title
Geographical Mobility                                                      76
Group Quarters Type                                                        47
Means Of Transportation To Work                                            45
Tenure                                                                     40
Place Of Birth                                                             37
                                                                           ..
Aggregate Supplemental Security Income (Ssi)                                1
Median Selected Monthly Owner Costs                                         1
Median Selected Monthly Owner Costs As A Percentage Of Household Income     1
Aggregate Social Security Income                                            1
Year Structure Built                                                        1
Name: table_id, Length: 229, dtype: int64

In [7]:
tl = TableLookup(year, release)
cdf = tl.columns_df
cdf.sample(10)

,column_id,table_id,name,sex,race,age,age_range,min_age,max_age,poverty_status,path,filtered_path,citizen,employed,family,foreign_born,group_quarters,has_income,marital_status,tenure
8816,B16006_002,B16006,Speak only English,all,all,all,None,0,120,None,/total/speak only english,/speak only english,None,None,None,None,None,None,None,None
7849,B14006_006,B14006,Enrolled in grade 1 to grade 4,all,all,all,None,0,120,gt100,/total/income in the past 12 months below the ...,/enrolled in school/enrolled in grade 1 to gra...,None,None,None,None,None,None,None,None
18438,B24121_468,B24121,Riggers,all,all,all,None,0,120,None,/total/riggers,/riggers,None,None,None,None,None,None,None,None
27626,B99172_011,B99172,More than 0 to less than 10 percent of total i...,all,all,all,None,0,120,None,/more than 0 to less than 10 percent of total ...,,None,None,None,None,None,None,None,None
1986,B06003_013,B06003,Foreign born,all,all,all,None,0,120,None,/total/foreign born,,None,None,None,Y,None,None,None,None
18871,B24122_335,B24122,"Sales and related workers, all other",all,all,all,None,0,120,None,"/total/sales and related workers, all other","/sales and related workers, all other",None,None,None,None,None,None,None,None
7155,B12002_128,B12002,Separated,female,all,all,None,0,120,None,"/total/female/now married/married, spouse abse...",,None,None,None,None,None,None,separated,None
17242,B24115_404,B24115,Construction laborers,all,all,all,None,0,120,None,/total/construction laborers,/construction laborers,None,None,None,None,None,None,None,None
9271,B17001E_002,B17001E,Income in the past 12 months below poverty level,all,nhopi,all,None,0,120,lt100,/total/income in the past 12 months below pove...,,None,None,None,None,None,None,None,None
2082,B06004HPR_004,B06004HPR,Native; born elsewhere,all,all,all,None,0,120,None,/total/native; born elsewhere,,None,None,None,None,None,None,None,None

In [8]:
# Check for columns where the extracted parameter for the table is different than the column
# Most of these cases are OK, since the column universe is a subset of the table universe,
#
#Table_lookup
tabl_lu = tdf.fillna('all').replace({'001-120':'all'}).set_index('table_id').to_dict('index')

# Common Columns
com_col = set(tdf.columns) & set(cdf.columns) - set(['table_id'])

cdf = cdf.fillna('all')

diffs = []
for idx, r in cdf.iterrows():
    tabl = tabl_lu[r.table_id]
    for c in com_col:
        if r[c] != 'all' and tabl[c] != 'all' and r[c] != tabl[c]:

            # Ignore if the column is age, and the range is within the table range
            if c == 'age':
                r1 = [int(e) for e in r[c].split('-')]
                r2 = [int(e) for e in tabl[c].split('-')]
                if r1[0] >= r2[0] and r1[1] <= r2[1]:
                    continue
            elif c == 'age_range':
                r1 = r[c]
                r2 = tabl[c]
                if r1[0] >= r2[0] and r1[1] <= r2[1]:
                    continue

            diffs.append((r.table_id, r.column_id, c, r[c], tabl[c]))

diffs = pd.DataFrame(diffs, columns=['table_id','column_id','col','col_val', 'table_val'])
print(len(diffs))
diffs.sample(40)

978

    table_id    column_id        col  col_val table_val
304   B25033   B25033_009     tenure   renter  occupied
409   B25045   B25045_016     tenure   renter  occupied
702   B25126   B25126_056     tenure   renter  occupied
833   B25128   B25128_033     tenure   renter  occupied
216   B25015   B25015_003     tenure    owner  occupied
251   B25016   B25016_012     tenure   renter  occupied
65    B23003   B23003_021  age_range  (6, 17)  (20, 64)
56    B23003   B23003_016        age  006-017   020-064
575   B25124   B25124_045     tenure   renter  occupied
363   B25043   B25043_002     tenure    owner  occupied
42    B23003   B23003_009        age  000-018   020-064
402   B25045   B25045_009     tenure    owner  occupied
884   B25129   B25129_040     tenure   renter  occupied
24    B15011   B15011_037        sex   female      male
298   B25033   B25033_003     tenure    owner  occupied
691   B25126   B25126_045     tenure   renter  occupied
435   B25115   B25115_010     tenure    owner  occupied
491   B25117   B25117_018     tenure   renter  occupied
198   B25011   B25011_045     tenure   renter  occupied
609   B25125   B25125_007     tenure    owner  occupied
83    B23003   B23003_030  age_range  (0, 18)  (20, 64)
463   B25116   B25116_012     tenure    owner  occupied
587   B25124   B25124_057     tenure   renter  occupied
21    B15011   B15011_034        sex   female      male
111  B25003H  B25003H_002     tenure    owner  occupied
95    B25003   B25003_002     tenure    owner  occupied
852   B25129   B25129_008     tenure    owner  occupied
829   B25128   B25128_029     tenure   renter  occupied
535   B25124   B25124_005     tenure    owner  occupied
159   B25011   B25011_006     tenure    owner  occupied
293   B25026   B25026_012     tenure   renter  occupied
846   B25129   B25129_002     tenure    owner  occupied
261   B25020   B25020_004     tenure    owner  occupied
751   B25127   B25127_037     tenure    owner  occupied
778   B25127   B25127_064     tenure   renter  occupied
200   B25011   B25011_047     tenure   renter  occupied
208   B25014   B25014_007     tenure    owner  occupied
516   B25118   B25118_023     tenure   renter  occupied
756   B25127   B25127_042     tenure    owner  occupied
194   B25011   B25011_041     tenure   renter  occupied

In [9]:
# Merge the table and column dataframes

t_only_cols = ['table_id'] + list(set(tdf.columns) - set(cdf.columns))
c_only_cols = list(set(cdf.columns) - set(tdf.columns))
cc = set(tdf.columns) & set(cdf.columns)

rows = []
for idx, r in cdf.iterrows():
    tabl = tabl_lu[r.table_id]

    com_v = {}

    for c in com_col:
        c_v = r[c]
        t_v = tabl[c]

        if c_v == 'all':
            v = t_v
        else:
            v = c_v

        com_v[c] = v

    d = r.to_dict()
    d.update(tabl)
    d.update(com_v)

    rows.append(d)

df = pd.DataFrame(rows)

df.sample(10)

,column_id,table_id,name,sex,race,age,age_range,min_age,max_age,poverty_status,...,msa,military,ft_employed,grand_pc,household,opposite_sex,housing,education,units,redundant_paths
13795,B20005H_052,B20005H,With earnings,female,nhwhite,016-120,"(16, 120)",0,120,all,...,all,all,all,all,all,all,all,all,dollars,False
12211,B19037I_002,B19037I,Householder under 25 years,all,hisp,000-025,"(0, 25)",0,25,all,...,all,all,all,all,Y,all,all,all,dollars,False
5847,B08526_064,B08526,Manufacturing,all,all,016-120,"(16, 120)",0,120,all,...,all,all,all,all,all,all,all,all,people,False
13726,B20005G_078,B20005G,"$5,000 to $7,499",female,many,016-120,"(16, 120)",0,120,all,...,all,all,all,all,all,all,all,all,dollars,False
8827,B16007_005,B16007,Speak other Indo-European languages,all,all,005-017,"(5, 17)",5,17,all,...,all,all,all,all,all,all,all,all,people,False
2187,B06008_014,B06008,Never married,all,all,015-120,"(15, 120)",0,120,all,...,all,all,all,all,all,all,all,all,people,False
14306,B22002_013,B22002,"Female householder, no spouse present",female,all,000-018,"(0, 18)",0,18,all,...,all,all,all,all,Y,all,all,all,people,False
26493,C27001A_003,C27001A,With health insurance coverage,all,white,000-019,"(0, 19)",0,19,all,...,all,civilian,all,all,all,all,all,all,people,False
26829,B27010_066,B27010,No health insurance coverage,all,all,065-120,"(65, 120)",65,120,all,...,all,civilian,all,all,all,all,all,all,people,False
2950,B07009_017,B07009,Bachelor's degree,all,all,025-120,"(25, 120)",0,120,all,...,all,all,all,all,all,all,all,all,people,False

In [10]:
# The group id is the id of the first table that has this bare title
df['group_id'] = 'G' + df.groupby('bare_title').table_id.transform(lambda g: min(g) ).str.slice(1)

In [11]:
cols = [
        'table_id', 'title', 'group_id', 'bare_title', 'universe', 'subject',
        'column_id',  'name', 'path', 'filtered_path',  'technical', 'units',
        'age', 'sex', 'race',
        'poverty_status', 'has_income',   'employed', 'ft_employed',
        'marital_status','family',  'household', 'grand_pc', 'opposite_sex',
        'group_quarters', 'housing', 'tenure',
        'citizen',  'foreign_born', 'military'
    ]

mdf = df[cols]
mdf.sample(200)

,table_id,title,group_id,bare_title,universe,subject,column_id,name,path,filtered_path,...,family,household,grand_pc,opposite_sex,group_quarters,housing,tenure,citizen,foreign_born,military
24063,B25125,Tenure By Age Of Householder By Units In Struc...,G25003,Tenure,Occupied housing units,Housing,B25125_019,2 to 4,/total/owner occupied/householder 65 years and...,/2 to 4,...,all,all,all,all,all,Y,owner,all,all,all
16166,C24060,Occupation By Class Of Worker For The Civilian...,G24011,Occupation,Civilian employed population 16 years and over,Industry-Occupation-Class of Worker,C24060_014,"Management, business, science, and arts occupa...",/total/self-employed in own incorporated busin...,"/management, business, science, and arts occup...",...,all,all,all,all,all,all,all,all,all,civilian
3043,B07010,Geographical Mobility In The Past Year By Indi...,G07001,Geographical Mobility,Population 15 years and over in the United States,Residence Last Year - Migration,B07010_038,"$10,000 to $14,999",/total/moved from different county within same...,/moved from different county within same state...,...,all,all,all,all,all,all,all,all,all,all
22800,B25050,Plumbing Facilities By Occupants Per Room By Y...,G25047,Plumbing Facilities,Occupied housing units,Housing,B25050_002,Complete plumbing facilities,/total/complete plumbing facilities,/complete plumbing facilities,...,all,all,all,all,all,Y,occupied,all,all,all
27212,B28004,Household Income In The Last 12 Months (In 202...,G19001,Household Income,Households,Computer and Internet Usage,B28004_010,"$20,000 to $34,999","/total/$20,000 to $34,999","/$20,000 to $34,999",...,all,Y,all,all,all,all,all,all,all,all
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21920,B24136,Detailed Industry For The Civilian Employed Fe...,G24134,Detailed Industry,Civilian employed female population 16 years a...,Industry-Occupation-Class of Worker,B24136_028,Not specified food industries,/total/not specified food industries,/not specified food industries,...,all,all,all,all,all,all,all,all,all,civilian
173,B01001E,Sex By Age (Native Hawaiian And Other Pacific ...,G01001,Population,People who are Native Hawaiian and Other Pacif...,Age-Sex,B01001E_001,Total,/total,,...,all,all,all,all,all,all,all,all,all,all
6414,B09021,Living Arrangements Of Adults 18 Years And Ove...,G09021,Arrangements Of Adults 18 Years And Over,Population 18 years and over in households,Children - Relationship,B09021_025,Householder living with unmarried partner or u...,/total/65 years and over/householder living wi...,/householder living with unmarried partner or ...,...,all,Y,all,all,all,all,all,all,all,all
5212,B08201,Household Size By Vehicles Available,G08201,Household Size,Households,Journey to Work,B08201_014,No vehicle available,/total/2-person household/no vehicle available,/2-person household/no vehicle available,...,all,Y,all,all,all,all,all,all,all,all
12145,B19037H,Age Of Householder By Household Income In The ...,G19037,Age Of Householder,Households with a householder who is White alo...,Income,B19037H_005,"$15,000 to $19,999","/total/householder under 25 years/$15,000 to $...","/$15,000 to $19,999",...,all,Y,all,all,all,all,all,all,all,all

# Topics

In [13]:
from pylib.topics import find_topics, compile_topics
from pathlib import Path
from researchrobot.topics import TopicCategorizer

topics_dir = Path.cwd().parent.joinpath('cache/topics')

tc = TopicCategorizer()

t = mdf[mdf.bare_title != '']

find_topics(topics_dir,tc, t) # Calls into OpenAI and caches the results
topics_df =  compile_topics(topics_dir, t)

topics_df.head()

  0%|          | 0/27572 [00:00<?, ?it/s]

  0%|          | 0/27572 [00:00<?, ?it/s]

    column_id                      topic
0  B01001_001  survey_types/demographics
1  B01001_002  survey_types/demographics
2  B01001_002                 people/sex
3  B01001_003  survey_types/demographics
4  B01001_003                 people/age

In [14]:
topics_df.shape

(139031, 2)