In [8]:
%load_ext autoreload
%autoreload 2

import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

from publicdata.census.files.metafiles import TableLookup
import shelve 

%matplotlib inline

mp.jupyter.init()

In [9]:
#pkg = mp.jupyter.open_package()
pkg = mp.jupyter.open_source_package()

# Setup importing form this package
pkg.set_sys_path()
import pylib # Import the code for the package
from pylib.census_path_processing import * 

pkg

# Metadata for the 2020 ACS
`civicknowledge.com-census_meta-2020e5-2.3.1` Last Update: 2023-03-28T19:46:01

_Deatilsed metadata for ACS releases._






## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* **[metadata](notebooks/build.ipynb#mdf)**. Combined columns and tables
* **[tables](notebooks/build.ipynb#tdf)**.
* **[columns](notebooks/build.ipynb#cdf)**.

In [10]:
year = 2020
release = 5

tl = TableLookup(year, release)

In [15]:
tdf = tl.tables_df
tdf.head().T

,0,1,2,3,4
table_id,B01001,B01001A,B01001B,B01001C,B01001D
seq,[1],[1],[1],[1],[1]
start_pos,7,56,87,118,149
title,Sex By Age,Sex By Age (White Alone),Sex By Age (Black Or African American Alone),Sex By Age (American Indian And Alaska Native ...,Sex By Age (Asian Alone)
universe,Total population,People who are White alone,Black or African American alone,People who are American Indian and Alaska Nati...,People who are Asian alone
subject,Age-Sex,Age-Sex,Age-Sex,Age-Sex,Age-Sex
race,all,white,black,aian,asian
age_range,None,None,None,None,None
age,all,all,all,all,all
sex,all,all,all,all,all
bare_title,Sex By Age,Sex By Age,Sex By Age,Sex By Age,Sex By Age
stripped_title,Population,Population,Population,Population,Population
redundant_paths,False,False,False,False,False

In [18]:
cdf = tl.columns_df
cdf.head(6).iloc[:20].T

,0,1,2,3,4,5
uid,B01001_001,B01001_002,B01001_003,B01001_004,B01001_005,B01001_006
table_id,B01001,B01001,B01001,B01001,B01001,B01001
name,Total,Male,Under 5 years,5 to 9 years,10 to 14 years,15 to 17 years
sex,all,male,male,male,male,male
raceeth,all,all,all,all,all,all
age,all,all,000-005,005-009,010-014,015-017
age_range,None,None,"(0, 5)","(5, 9)","(10, 14)","(15, 17)"
min_age,0,0,0,5,10,15
max_age,120,120,5,9,14,17
poverty_status,all,all,all,all,all,all
path,/total,/total/male,/total/male/under 5 years,/total/male/5 to 9 years,/total/male/10 to 14 years,/total/male/15 to 17 years
filtered_path,None,None,None,None,None,None
filtered_pathname,,,,,,
n_levels,0,0,0,0,0,0
level_1,None,None,None,None,None,None
level_2,None,None,None,None,None,None
level_3,None,None,None,None,None,None
level_4,None,None,None,None,None,None

In [24]:
cdf[cdf.filtered_pathname!=''].sample(10).T

,6818,3637,5371,15841,6324,8217,2482,1646,14533,19537
uid,B11003_005,B07404F_003,B08406_042,B24041_005,B09010_003,C15002B_009,B07001_029,B05008_039,B23001_126,B24123_435
table_id,B11003,B07404F,B08406,B24041,B09010,C15002B,B07001,B05008,B23001,B24123
name,Under 6 years and 6 to 17 years,Moved within same county,Public transportation (excluding taxicab),Construction,In family households,High school graduate (includes equivalency),60 to 64 years,Entered 2000 to 2009,In Armed Forces,"First-line supervisors of mechanics, installer..."
sex,all,all,female,all,all,female,all,female,female,all
raceeth,all,other,all,all,all,black,all,all,all,all
age,006-017,all,all,all,all,all,060-064,all,035-044,all
age_range,"(6, 17)",None,None,None,None,None,"(60, 64)",None,"(35, 44)",None
min_age,6,0,0,0,0,0,60,0,35,0
max_age,17,120,120,120,120,120,64,120,44,120
poverty_status,all,all,all,all,all,all,all,all,all,all
path,/total/married-couple family/with own children...,/total living in area 1 year ago/moved within ...,/total/female/public transportation (excluding...,/total/construction,/total/living in household with supplemental s...,/total/female/high school graduate (includes e...,/total/same house 1 year ago/60 to 64 years,/total/female/europe/entered 2000 to 2009,/total/female/35 to 44 years/in labor force/in...,"/total/first-line supervisors of mechanics, in..."
filtered_path,None,/total living in area 1 year ago,None,None,/living in household with supplemental securit...,None,None,/europe,/in labor force,None
filtered_pathname,/married-couple family,/total living in area 1 year ago/moved within ...,/public transportation (excluding taxicab),/construction,/living in household with supplemental securit...,/high school graduate (includes equivalency),/same house 1 year ago,/europe/entered 2000 to 2009,/in labor force/in armed forces,"/first-line supervisors of mechanics, installe..."
n_levels,0,1,0,0,1,0,0,1,1,0
level_1,None,total living in area 1 year ago,None,None,living in household with supplemental security...,None,None,europe,in labor force,None
level_2,None,None,None,None,None,None,None,None,None,None
level_3,None,None,None,None,None,None,None,None,None,None
level_4,None,None,None,None,None,None,None,None,None,None

In [34]:
cdf[cdf.n_levels==0]

,uid,table_id,name,sex,raceeth,age,age_range,min_age,max_age,poverty_status,path,filtered_path,filtered_pathname,n_levels,level_1,level_2,level_3,level_4
0,B01001_001,B01001,Total,all,all,all,None,0,120,all,/total,None,,0,None,None,None,None
1,B01001_002,B01001,Male,male,all,all,None,0,120,all,/total/male,None,,0,None,None,None,None
2,B01001_003,B01001,Under 5 years,male,all,000-005,"(0, 5)",0,5,all,/total/male/under 5 years,None,,0,None,None,None,None
3,B01001_004,B01001,5 to 9 years,male,all,005-009,"(5, 9)",5,9,all,/total/male/5 to 9 years,None,,0,None,None,None,None
4,B01001_005,B01001,10 to 14 years,male,all,010-014,"(10, 14)",10,14,all,/total/male/10 to 14 years,None,,0,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27834,B99281_002,B99281,Allocated,all,all,all,None,0,120,all,/total/allocated,None,/allocated,0,None,None,None,None
27835,B99281_003,B99281,Not allocated,all,all,all,None,0,120,all,/total/not allocated,None,/not allocated,0,None,None,None,None
27836,B99282_001,B99282,Total,all,all,all,None,0,120,all,/total,None,,0,None,None,None,None
27845,B99283_001,B99283,Total,all,all,all,None,0,120,all,/total,None,,0,None,None,None,None
27849,B99283_005,B99283,Not allocated,all,all,all,None,0,120,all,/total/not allocated,None,/not allocated,0,None,None,None,None

In [42]:
t = cdf[cdf.n_levels==1]
for gn, g in t.groupby('table_id'):
    if g.level_1.nunique() > 1:
        print(gn, g.level_1.unique())

B02014 ['american indian tribes, specified' 'alaska native tribes, specified']
B02016 ['polynesian' 'micronesian' 'melanesian']
B03002 ['not hispanic or latino' 'hispanic or latino']
B04004 ['arab' 'subsaharan african' 'west indian (except hispanic groups)']
B04005 ['arab' 'subsaharan african' 'west indian (except hispanic groups)']
B04006 ['arab' 'subsaharan african' 'west indian (except hispanic groups)']
B04007 ['ancestry specified' 'ancestry not specified']
B05002 ['native' 'foreign born']
B05005 ['entered 2010 or later' 'entered 2000 to 2009' 'entered 1990 to 1999'
 'entered before 1990']
B05005PR ['entered 2010 or later' 'entered 2000 to 2009' 'entered 1990 to 1999'
 'entered before 1990']
B05006 ['europe' 'asia' 'africa' 'oceania' 'americas']
B05006PR ['europe' 'asia' 'americas']
B05007 ['entered 2010 or later' 'entered 2000 to 2009' 'entered 1990 to 1999'
 'entered before 1990' 'europe' 'asia' 'latin america' 'other areas']
B05008 ['europe' 'asia' 'latin america' 'other areas']
B05009 ['living with two parents' 'living with one parent']
B05010 ['living with two parents' 'living with one parent' '2.00 and over']
B05015 ['china, hong kong, and taiwan' 'cuba' 'dominican republic' 'el salvador'
 'guatemala' 'india' 'mexico' 'philippines' 'vietnam'
 'all other countries']
B06007 ['speak spanish' 'speak other languages' 'born in state of residence'
 'born in other state in the united states'
 'native; born outside the united states' 'foreign born']
B06007PR ['speak spanish' 'speak other languages' 'born in puerto rico'
 'born in the united states' 'native; born elsewhere' 'foreign born']
B06008 ['born in state of residence' 'born in other state in the united states'
 'native; born outside the united states' 'foreign born']
B06008PR ['born in puerto rico' 'born in the united states'
 'native; born elsewhere' 'foreign born']
B06009 ['born in state of residence' 'born in other state in the united states'
 'native; born outside the united states' 'foreign born']
B06009PR ['born in puerto rico' 'born in the united states'
 'native; born elsewhere' 'foreign born']
B06010 ['with income' 'born in state of residence'
 'born in other state in the united states'
 'native; born outside the united states' 'foreign born']
B06010PR ['with income' 'born in puerto rico' 'born in the united states'
 'native; born elsewhere' 'foreign born']
B07007 ['foreign born' 'same house 1 year ago' 'moved within same county'
 'moved from different county within same state'
 'moved from different state' 'moved from abroad']
B07007PR ['foreign born' 'same house 1 year ago' 'moved within same municipio'
 'moved from different municipio' 'moved from the united states'
 'moved from elsewhere']
B07008 ['same house 1 year ago' 'moved within same county'
 'moved from different county within same state'
 'moved from different state' 'moved from abroad']
B07008PR ['same house 1 year ago' 'moved within same municipio'
 'moved from different municipio' 'moved from the united states'
 'moved from elsewhere']
B07009 ['same house 1 year ago' 'moved within same county'
 'moved from different county within same state'
 'moved from different state' 'moved from abroad']
B07009PR ['same house 1 year ago' 'moved within same municipio'
 'moved from different municipio' 'moved from the united states'
 'moved from elsewhere']
B07010 ['with income' 'same house 1 year ago' 'moved within same county'
 'moved from different county within same state'
 'moved from different state' 'moved from abroad']
B07010PR ['with income' 'same house 1 year ago' 'moved within same municipio'
 'moved from different municipio' 'moved from the united states'
 'moved from elsewhere']
B07013 ['same house 1 year ago' 'moved within same county'
 'moved from different county within same state'
 'moved from different state' 'moved from abroad']
B07013PR ['same house 1 year ago' 'moved within same municipio'
 'moved from different municipio' 'moved from the united states'
 'moved from elsewhere']
B07101 ['movers to different state' 'movers from abroad'
 'current residence; northeast' 'current residence; midwest'
 'current residence; south' 'current residence; west']
B07201PR ['different house in puerto rico 1 year ago' 'united states 1 year ago']
B07204 ['different house in united states 1 year ago' 'abroad 1 year ago']
B07204PR ['different house in puerto rico 1 year ago' 'united states 1 year ago'
 'elsewhere 1 year ago']
B08006 ['car, truck, or van' 'public transportation (excluding taxicab)']
B08016 ['living in a principal city' 'living outside any principal city']
B08017 ['living in a principal city' 'living outside any principal city']
B08018 ['worked in a metropolitan statistical area'
 'worked in a micropolitan statistical area']
B08111 ['foreign born' 'car, truck, or van - drove alone'
 'car, truck, or van - carpooled'
 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means' 'worked from home']
B08113 ['speak spanish' 'speak other languages'
 'car, truck, or van - drove alone' 'car, truck, or van - carpooled'
 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means' 'worked from home']
B08119 ['car, truck, or van - drove alone' 'car, truck, or van - carpooled'
 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means' 'worked from home']
B08124 ['car, truck, or van - drove alone' 'car, truck, or van - carpooled'
 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means' 'worked from home']
B08126 ['car, truck, or van - drove alone' 'car, truck, or van - carpooled'
 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means' 'worked from home']
B08128 ['private for-profit wage and salary workers'
 'car, truck, or van - drove alone' 'car, truck, or van - carpooled'
 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means' 'worked from home']
B08130 ['worked in state of residence' 'car, truck, or van - drove alone'
 'car, truck, or van - carpooled'
 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means']
B08132 ['car, truck, or van - drove alone' 'car, truck, or van - carpooled'
 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means']
B08134 ['car, truck, or van' 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means']
B08137 ['car, truck, or van - drove alone' 'car, truck, or van - carpooled'
 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means' 'worked from home']
B08141 ['car, truck, or van - drove alone' 'car, truck, or van - carpooled'
 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means' 'worked from home']
B08201 ['1-person household' '2-person household' '3-person household'
 '4-or-more-person household']
B08202 ['1-person household' '2-person household' '3-person household'
 '4-or-more-person household']
B08203 ['no workers' '1 worker' '2 workers' '3 or more workers']
B08301 ['car, truck, or van' 'public transportation (excluding taxicab)']
B08406 ['car, truck, or van' 'public transportation (excluding taxicab)']
B08511 ['foreign born' 'car, truck, or van - drove alone'
 'car, truck, or van - carpooled'
 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means' 'worked from home']
B08513 ['speak spanish' 'speak other languages'
 'car, truck, or van - drove alone' 'car, truck, or van - carpooled'
 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means' 'worked from home']
B08519 ['car, truck, or van - drove alone' 'car, truck, or van - carpooled'
 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means' 'worked from home']
B08524 ['car, truck, or van - drove alone' 'car, truck, or van - carpooled'
 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means' 'worked from home']
B08526 ['car, truck, or van - drove alone' 'car, truck, or van - carpooled'
 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means' 'worked from home']
B08528 ['private for-profit wage and salary workers'
 'car, truck, or van - drove alone' 'car, truck, or van - carpooled'
 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means' 'worked from home']
B08532 ['car, truck, or van - drove alone' 'car, truck, or van - carpooled'
 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means']
B08534 ['car, truck, or van' 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means']
B08537 ['car, truck, or van - drove alone' 'car, truck, or van - carpooled'
 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means' 'worked from home']
B08541 ['car, truck, or van - drove alone' 'car, truck, or van - carpooled'
 'public transportation (excluding taxicab)' 'walked'
 'taxicab, motorcycle, bicycle, or other means' 'worked from home']
B08601 ['car, truck, or van' 'public transportation (excluding taxicab)']
B09010 ['living in household with supplemental security income (ssi), cash public assistance income, or food stamps|snap in the past 12 months'
 'living in household with no supplemental security income (ssi), cash public assistance income, or food stamps|snap in the past 12 months']
B11001 ['family households' 'nonfamily households']
B11001A ['family households' 'nonfamily households']
B11001B ['family households' 'nonfamily households']
B11001C ['family households' 'nonfamily households']
B11001D ['family households' 'nonfamily households']
B11001E ['family households' 'nonfamily households']
B11001F ['family households' 'nonfamily households']
B11001G ['family households' 'nonfamily households']
B11001H ['family households' 'nonfamily households']
B11001I ['family households' 'nonfamily households']
B11005 ['family households' 'nonfamily households']
B11009 ['married couple households' 'cohabiting couple households']
B11010 ['male householder' 'female householder']
B11011 ['family households' 'nonfamily households']
B11012 ['female householder, no spouse or partner present'
 'male householder, no spouse or partner present']
B11014 ['in married-couple subfamilies' 'in mother-child subfamilies'
 'in father-child subfamilies']
B11016 ['family households' 'nonfamily households']
B12006 ['never married' 'now married (except separated)' 'separated' 'widowed'
 'divorced']
B13002 ['women who had a birth in the past 12 months'
 'women who did not have a birth in the past 12 months']
B13002A ['women who had a birth in the past 12 months'
 'women who did not have a birth in the past 12 months']
B13002B ['women who had a birth in the past 12 months'
 'women who did not have a birth in the past 12 months']
B13002C ['women who had a birth in the past 12 months'
 'women who did not have a birth in the past 12 months']
B13002D ['women who had a birth in the past 12 months'
 'women who did not have a birth in the past 12 months']
B13002E ['women who had a birth in the past 12 months'
 'women who did not have a birth in the past 12 months']
B13002F ['women who had a birth in the past 12 months'
 'women who did not have a birth in the past 12 months']
B13002G ['women who had a birth in the past 12 months'
 'women who did not have a birth in the past 12 months']
B13002H ['women who had a birth in the past 12 months'
 'women who did not have a birth in the past 12 months']
B13002I ['women who had a birth in the past 12 months'
 'women who did not have a birth in the past 12 months']
B13004 ['women who had a birth in the past 12 months'
 'women who did not have a birth in the past 12 months']
B13008 ['women who had a birth in the past 12 months'
 'women who did not have a birth in the past 12 months']
B13010 ['women who had a birth in the past 12 months'
 'women who did not have a birth in the past 12 months']
B13012 ['women who had a birth in the past 12 months'
 'women who did not have a birth in the past 12 months']
B13014 ['women who had a birth in the past 12 months'
 'women who did not have a birth in the past 12 months']
B13015 ['women who had a birth in the past 12 months'
 'women who did not have a birth in the past 12 months']
B14005 ['enrolled in school' 'not enrolled in school']
B15012 ['science and engineering' 'arts, humanities, and other']
B16001 ['spanish' 'french (incl. cajun)' 'haitian' 'italian' 'portuguese'
 'german' 'yiddish, pennsylvania dutch or other west germanic languages'
 'greek' 'russian' 'polish' 'serbo-croatian'
 'ukrainian or other slavic languages' 'armenian'
 'persian (incl. farsi, dari)' 'gujarati' 'hindi' 'urdu' 'punjabi'
 'bengali' 'nepali, marathi, or other indic languages'
 'other indo-european languages' 'telugu' 'tamil'
 'malayalam, kannada, or other dravidian languages'
 'chinese (incl. mandarin, cantonese)' 'japanese' 'korean' 'hmong'
 'vietnamese' 'khmer' 'thai, lao, or other tai-kadai languages'
 'other languages of asia' 'tagalog (incl. filipino)'
 'ilocano, samoan, hawaiian, or other austronesian languages' 'arabic'
 'hebrew' 'amharic, somali, or other afro-asiatic languages'
 'yoruba, twi, igbo, or other languages of western africa'
 'swahili or other languages of central, eastern, and southern africa'
 'navajo' 'other native languages of north america'
 'other and unspecified languages']
B16004 ['speak spanish' 'speak other indo-european languages'
 'speak asian and pacific island languages' 'speak other languages']
B16005 ['native' 'foreign born']
B16005A ['native' 'foreign born']
B16005B ['native' 'foreign born']
B16005C ['native' 'foreign born']
B16005D ['native' 'foreign born']
B16005E ['native' 'foreign born']
B16005F ['native' 'foreign born']
B16005G ['native' 'foreign born']
B16005H ['native' 'foreign born']
B16005I ['native' 'foreign born']
B16008 ['native population' 'foreign-born population']
B16010 ['less than high school graduate'
 'high school graduate (includes equivalency)'
 "some college or associate's degree" "bachelor's degree or higher"]
B17009 ['worked full-time, year-round' 'worked less than full-time, year-round'
 'did not work']
B17012 ['married-couple family' 'other families']
B17013 ['married-couple family' 'other families']
B17014 ['married-couple family' 'other families']
B17015 ['married-couple family' 'other family']
B17016 ['married-couple family' 'other family']
B17017 ['family households' 'nonfamily households']
B17018 ['married-couple family' 'other families']
B17019 ['married-couple family' 'other families']
B17021 ['in family households'
 'in non-family households and other living arrangement']
B17022 ['under 1.30' '1.30 to 1.49' '1.50 to 1.84' '1.85 and above']
B17023 ['married-couple family' 'other families']
B17025 ['native' 'foreign born']
B18135 ['with a disability' 'no disability']
B19123 ['2-person families' '3-person families' '4-person families'
 '5-person families' '6-person families' '7-or-more-person families']
B19131 ['married-couple family' 'other family']
B19325 ['worked full-time, year-round in the past 12 months' 'other']
B20005 ['worked full-time, year-round in the past 12 months' 'other']
B20005A ['worked full-time, year-round in the past 12 months' 'other']
B20005B ['worked full-time, year-round in the past 12 months' 'other']
B20005C ['worked full-time, year-round in the past 12 months' 'other']
B20005D ['worked full-time, year-round in the past 12 months' 'other']
B20005E ['worked full-time, year-round in the past 12 months' 'other']
B20005F ['worked full-time, year-round in the past 12 months' 'other']
B20005G ['worked full-time, year-round in the past 12 months' 'other']
B20005H ['worked full-time, year-round in the past 12 months' 'other']
B20005I ['worked full-time, year-round in the past 12 months' 'other']
B21003 ['veteran' 'nonveteran']
B21005 ['veteran' 'nonveteran']
B22002 ['household received food stamps|snap in the past 12 months'
 'household did not receive food stamps|snap in the past 12 months']
B22007 ['household received food stamps|snap in the past 12 months'
 'household did not receive food stamps|snap in the past 12 months']
B22010 ['household received food stamps|snap in the past 12 months'
 'household did not receive food stamps|snap in the past 12 months']
B23006 ['less than high school graduate'
 'high school graduate (includes equivalency)'
 "some college or associate's degree" "bachelor's degree or higher"]
B23007 ['opposite-sex married-couple family' 'other family']
B23008 ['living with two parents' 'living with one parent']
B23009 ['married-couple family' 'other family']
B23010 ['householder worked full-time, year-round in the past 12 months'
 'householder worked less than full-time, year-round in the past 12 months'
 'householder did not work in the past 12 months']
B23024 ['with a disability' 'no disability']
B24011 ['management, business, science, and arts occupations'
 'service occupations' 'sales and office occupations'
 'natural resources, construction, and maintenance occupations'
 'production, transportation, and material moving occupations']
B24012 ['management, business, science, and arts occupations'
 'service occupations' 'sales and office occupations'
 'natural resources, construction, and maintenance occupations'
 'production, transportation, and material moving occupations']
B24021 ['management, business, science, and arts occupations'
 'service occupations' 'sales and office occupations'
 'natural resources, construction, and maintenance occupations'
 'production, transportation, and material moving occupations']
B24022 ['management, business, science, and arts occupations'
 'service occupations' 'sales and office occupations'
 'natural resources, construction, and maintenance occupations'
 'production, transportation, and material moving occupations']
B24031 ['agriculture, forestry, fishing and hunting, and mining'
 'transportation and warehousing, and utilities'
 'finance and insurance, and real estate, and rental and leasing'
 'professional, scientific, and management, and administrative, and waste management services'
 'educational services, and health care and social assistance'
 'arts, entertainment, and recreation, and accommodation and food services']
B24032 ['agriculture, forestry, fishing and hunting, and mining'
 'transportation and warehousing, and utilities'
 'finance and insurance, and real estate, and rental and leasing'
 'professional, scientific, and management, and administrative, and waste management services'
 'educational services, and health care and social assistance'
 'arts, entertainment, and recreation, and accommodation and food services']
B24041 ['agriculture, forestry, fishing and hunting, and mining'
 'transportation and warehousing, and utilities'
 'finance and insurance, and real estate, and rental and leasing'
 'professional, scientific, and management, and administrative, and waste management services'
 'educational services, and health care and social assistance'
 'arts, entertainment, and recreation, and accommodation and food services']
B24042 ['agriculture, forestry, fishing and hunting, and mining'
 'transportation and warehousing, and utilities'
 'finance and insurance, and real estate, and rental and leasing'
 'professional, scientific, and management, and administrative, and waste management services'
 'educational services, and health care and social assistance'
 'arts, entertainment, and recreation, and accommodation and food services']
B25009 ['owner occupied' 'renter occupied']
B25011 ['owner occupied' 'renter occupied']

In [46]:
cdf[~cdf.filtered_path.isnull()].filtered_path

367                      /two or more races
368                      /two or more races
377      /american indian tribes, specified
378      /american indian tribes, specified
379      /american indian tribes, specified
                        ...
27843                       /other computer
27844                       /other computer
27846                            /allocated
27847                            /allocated
27848                            /allocated
Name: filtered_path, Length: 11261, dtype: object

In [11]:
tdf = tl.tables_df
cdf = tl.columns_df

cdf = cdf[['uid', 'table_id', 'name', 'sex', 'raceeth', 'age', 'poverty_status', 'filtered_pathname']]\
    .rename(columns={'filtered_pathname':'path', 'uid':'column_id'})

tdf = tdf[['table_id', 'title', 'bare_title', 'stripped_title','universe', 'subject', 'race',
       'age', 'sex']].copy().rename(columns={'race':'raceeth'})

tdf.head()

/Users/eric/proj/metatab-dev/metapack-dev/publicdata_census/src/publicdata/census/files/metafiles.py:567: FutureWarning: The default value of regex will change from True to False in a future version.
  df['stripped_title'] = df.stripped_title.str.replace(s, '')

,table_id,title,bare_title,stripped_title,universe,subject,raceeth,age,sex
0,B01001,Sex By Age,Sex By Age,Population,Total population,Age-Sex,all,all,all
1,B01001A,Sex By Age (White Alone),Sex By Age,Population,People who are White alone,Age-Sex,white,all,all
2,B01001B,Sex By Age (Black Or African American Alone),Sex By Age,Population,Black or African American alone,Age-Sex,black,all,all
3,B01001C,Sex By Age (American Indian And Alaska Native ...,Sex By Age,Population,People who are American Indian and Alaska Nati...,Age-Sex,aian,all,all
4,B01001D,Sex By Age (Asian Alone),Sex By Age,Population,People who are Asian alone,Age-Sex,asian,all,all

In [12]:
cdf.head()

,column_id,table_id,name,sex,raceeth,age,poverty_status,path
0,B01001_001,B01001,Total,all,all,all,all,
1,B01001_002,B01001,Male,male,all,all,all,
2,B01001_003,B01001,Under 5 years,male,all,000-005,all,
3,B01001_004,B01001,5 to 9 years,male,all,005-009,all,
4,B01001_005,B01001,10 to 14 years,male,all,010-014,all,

In [13]:

trename_map = { k:'table_'+k for k in 'raceeth age sex'.split()}
#crename_map = { k:'col_'+k for k in 'raceeth age sex'.split()}
mdf=tdf.rename(columns=trename_map).merge(cdf, on='table_id').copy()

def mk_update_f(table_col_name, col_name):

    def _update(r):
        """ If the column isn't restricted, but the table is, then the column should be marked as restricted."""
        if r[table_col_name] != 'all' and r[col_name] == 'all':
            r[col_name] = r[table_col_name]

        return r
    
    return _update

_sex = mk_update_f('table_sex','sex')
_age = mk_update_f('table_age','age')
_raceeth = mk_update_f('table_raceeth','raceeth')

mdf = pd.DataFrame([_raceeth(_age(_sex(r)))  for idx, r in mdf.iterrows()])


mdf[  (mdf.table_sex!='all') ].head().T

,14635,14636,14637,14638,14639
table_id,B23003,B23003,B23003,B23003,B23003
title,Presence Of Own Children Under 18 Years By Age...,Presence Of Own Children Under 18 Years By Age...,Presence Of Own Children Under 18 Years By Age...,Presence Of Own Children Under 18 Years By Age...,Presence Of Own Children Under 18 Years By Age...
bare_title,Presence Of Own Children Under 18 Years By Age...,Presence Of Own Children Under 18 Years By Age...,Presence Of Own Children Under 18 Years By Age...,Presence Of Own Children Under 18 Years By Age...,Presence Of Own Children Under 18 Years By Age...
stripped_title,Presence Of Own Children Under 18 Years By Age...,Presence Of Own Children Under 18 Years By Age...,Presence Of Own Children Under 18 Years By Age...,Presence Of Own Children Under 18 Years By Age...,Presence Of Own Children Under 18 Years By Age...
universe,Females 20 to 64 years in households,Females 20 to 64 years in households,Females 20 to 64 years in households,Females 20 to 64 years in households,Females 20 to 64 years in households
subject,Employment Status,Employment Status,Employment Status,Employment Status,Employment Status
table_raceeth,all,all,all,all,all
table_age,020-064,020-064,020-064,020-064,020-064
table_sex,female,female,female,female,female
column_id,B23003_001,B23003_002,B23003_003,B23003_004,B23003_005
name,Total,With own children of the householder under 18 ...,Under 6 years only,In labor force,In Armed Forces
sex,female,female,female,female,female
raceeth,all,all,all,all,all
age,020-064,000-018,000-018,000-018,000-018
poverty_status,all,all,all,all,all
path,,,,/in labor force,/in labor force/in armed forces

In [14]:

from pylib.descriptions import description
mdf['description'] = mdf.apply(description, axis=1)