In [1]:
%load_ext autoreload
%autoreload 2

import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

from publicdata.census.files.metafiles import TableLookup
import shelve 

%matplotlib inline

mp.jupyter.init()

In [2]:
#pkg = mp.jupyter.open_package()
pkg = mp.jupyter.open_source_package()

# Setup importing form this package
pkg.set_sys_path()
import pylib # Import the code for the package
from pylib.census_path_processing import * 

pkg

# Metadata for the 2020 ACS
`civicknowledge.com-census_meta-2020e5-3.1.3` Last Update: 2023-04-10T17:03:42

_Deatilsed metadata for ACS releases._






## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* **[metadata](notebooks/build.ipynb#mdf)**. Combined columns and tables
* **[tables](notebooks/build.ipynb#tdf)**.
* **[columns](notebooks/build.ipynb#cdf)**.

In [3]:
year = 2020
release = 5

tl = TableLookup(year, release)
tdf = tl.tables_df
cdf = tl.columns_df

In [4]:
tl = TableLookup(year, release)
tdf = tl.tables_df
tdf.sample(10)

,table_id,seq,n_seg,start_pos,title,bare_title,universe,subject,age,age_range,...,ft_employed,group_quarters,household,family,grand_pc,opposite_sex,marital_status,housing,tenure,redundant_paths
366,B13002G,[39],1,68,Women 15 To 50 Years Who Had A Birth In The Pa...,Women 15 To 50 Years Who Had A Birth,Two or more races women 15 to 50 years,Fertility,015-050,"(15, 50)",...,None,None,None,None,None,None,None,None,None,False
804,B25020,[118],1,38,Tenure By Rooms,Tenure,Occupied housing units,Housing,all,None,...,None,None,None,None,None,None,None,True,None,False
128,B07004I,[16],1,103,Geographical Mobility In The Past Year (Hispan...,Geographical Mobility,Hispanic or Latino population 1 year and over ...,Residence Last Year - Migration,001-120,"(1, 120)",...,None,None,None,None,None,None,None,None,None,False
512,B19001,[58],1,7,Household Income In The Past 12 Months (In 202...,Household Income,Households,Income,all,None,...,None,None,True,None,None,None,None,None,None,False
901,B25115,[123],1,125,Tenure By Household Type And Presence And Age ...,Tenure,Occupied housing units,Housing,all,None,...,None,None,None,None,None,None,None,True,None,False
53,B05003H,[8],1,7,Sex By Age By Nativity And Citizenship Status ...,Nativity And Citizenship Status,"White alone, not Hispanic or Latino population",Foreign Birth,all,None,...,None,None,None,None,None,None,None,None,None,False
515,B19001C,[58],1,58,Household Income In The Past 12 Months (In 202...,Household Income,Households with a householder who is American ...,Income,all,None,...,None,None,True,None,None,None,None,None,None,False
237,B08406,[28],1,7,Sex Of Workers By Means Of Transportation To W...,Sex Of Workers,Workers 16 years and over,Journey to Work,016-120,"(16, 120)",...,None,None,None,None,None,None,None,None,None,False
407,C15010A,[43],1,68,Field Of Bachelor'S Degree For First Major The...,Field Of Bachelor'S Degree,WHITE ALONE POPULATION 25 YEARS AND OVER WITH ...,Educational Attainment,025-120,"(25, 120)",...,None,None,None,None,None,None,None,None,None,False
514,B19001B,[58],1,41,Household Income In The Past 12 Months (In 202...,Household Income,Households with a householder who is Black or ...,Income,all,None,...,None,None,True,None,None,None,None,None,None,False

In [5]:
tl = TableLookup(year, release)
cdf = tl.columns_df
cdf.sample(10)

,column_id,table_id,name,sex,race,age,age_range,min_age,max_age,poverty_status,path,filtered_path,citizen,employed,family,foreign_born,group_quarters,has_income,marital_status,tenure
21782,B24135_153,B24135,Other direct selling establishments,all,all,all,None,0,120,None,/total/other direct selling establishments,/other direct selling establishments,None,None,None,None,None,None,None,None
22712,B25041_005,B25041,3 bedrooms,all,all,all,None,0,120,None,/total/3 bedrooms,/3 bedrooms,None,None,None,None,None,None,None,None
13126,B20005A_048,B20005A,"$100,000 or more",male,white,all,None,0,120,None,"/total/male/other/with earnings/$100,000 or more","/other/$100,000 or more",None,None,None,None,None,True,None,None
24690,B26104_024,B26104,Divorced,all,all,all,None,0,120,None,/total/group quarters population/institutional...,,None,None,None,None,correctional,None,divorced,None
7702,B14002_027,B14002,Enrolled in school,female,all,all,None,0,120,None,/total/female/enrolled in school,/enrolled in school,None,None,None,None,None,None,None,None
2913,B07008PR_016,B07008PR,Divorced,all,all,all,None,0,120,None,/total/moved within same municipio/divorced,/moved within same municipio,None,None,None,None,None,None,divorced,None
6231,B08541_030,B08541,3 or more vehicles available,all,all,all,None,0,120,None,"/total/taxicab, motorcycle, bicycle, or other ...","/taxicab, motorcycle, bicycle, or other means/...",None,None,None,None,None,None,None,None
6072,B08534_024,B08534,15 to 19 minutes,all,all,all,None,0,120,None,"/total/car, truck, or van/drove alone/15 to 19...","/car, truck, or van/drove alone/15 to 19 minutes",None,None,None,None,None,None,None,None
2917,B07008PR_020,B07008PR,Never married,all,all,all,None,0,120,None,/total/moved from different municipio/never ma...,/moved from different municipio,None,None,None,None,None,None,never,None
23110,B25075_018,B25075,"$175,000 to $199,999",all,all,all,None,0,120,None,"/total/$175,000 to $199,999","/$175,000 to $199,999",None,None,None,None,None,None,None,None

In [6]:
# Check for columns where the extracted parameter for the table is different than the column
# Most of these cases are OK, since the column universe is a subset of the table universe,
#
#Table_lookup
tabl_lu = tdf.fillna('all').replace({'001-120':'all'}).set_index('table_id').to_dict('index')

# Common Columns
com_col = set(tdf.columns) & set(cdf.columns) - set(['table_id'])

cdf = cdf.fillna('all')

diffs = []
for idx, r in cdf.iterrows():
    tabl = tabl_lu[r.table_id]
    for c in com_col:
        if r[c] != 'all' and tabl[c] != 'all' and r[c] != tabl[c]:

            # Ignore if the column is age, and the range is within the table range
            if c == 'age':
                r1 = [int(e) for e in r[c].split('-')]
                r2 = [int(e) for e in tabl[c].split('-')]
                if r1[0] >= r2[0] and r1[1] <= r2[1]:
                    continue
            elif c == 'age_range':
                r1 = r[c]
                r2 = tabl[c]
                if r1[0] >= r2[0] and r1[1] <= r2[1]:
                    continue

            diffs.append((r.table_id, r.column_id, c, r[c], tabl[c]))

diffs = pd.DataFrame(diffs, columns=['table_id','column_id','col','table_val', 'col_val'])
print(len(diffs))
diffs.sample(40)

128

,table_id,column_id,col,table_val,col_val
68,B26115,B26115_013,group_quarters,college,noninstitutionalized
43,B23003,B23003_018,age_range,"(6, 17)","(20, 64)"
32,B23003,B23003_013,age,006-017,020-064
64,B23003,B23003_029,age,000-018,020-064
25,B23003,B23003_009,age_range,"(0, 18)","(20, 64)"
2,B05005,B05005_013,foreign_born,False,True
69,B26115,B26115_014,group_quarters,college,noninstitutionalized
118,B26220,B26220_021,group_quarters,college,group_quarters
60,B23003,B23003_027,age,000-018,020-064
56,B23003,B23003_025,age,000-018,020-064
15,B23003,B23003_004,age_range,"(0, 18)","(20, 64)"
45,B23003,B23003_019,age_range,"(6, 17)","(20, 64)"
53,B23003,B23003_023,age_range,"(6, 17)","(20, 64)"
78,B26120,B26120_008,group_quarters,correctional,group_quarters
19,B23003,B23003_006,age_range,"(0, 18)","(20, 64)"
66,B23003,B23003_030,age,000-018,020-064
52,B23003,B23003_023,age,006-017,020-064
13,B23003,B23003_003,age_range,"(0, 18)","(20, 64)"
63,B23003,B23003_028,age_range,"(0, 18)","(20, 64)"
39,B23003,B23003_016,age_range,"(6, 17)","(20, 64)"
124,B99052,B99052_004,foreign_born,False,True
42,B23003,B23003_018,age,006-017,020-064
83,B26120,B26120_013,group_quarters,noninstitutionalized,group_quarters
38,B23003,B23003_016,age,006-017,020-064
10,B23003,B23003_002,age,000-018,020-064
65,B23003,B23003_029,age_range,"(0, 18)","(20, 64)"
93,B26215,B26215_017,group_quarters,college,noninstitutionalized
49,B23003,B23003_021,age_range,"(6, 17)","(20, 64)"
46,B23003,B23003_020,age,006-017,020-064
51,B23003,B23003_022,age_range,"(6, 17)","(20, 64)"
80,B26120,B26120_010,group_quarters,nursing,group_quarters
116,B26220,B26220_019,group_quarters,college,group_quarters
34,B23003,B23003_014,age,006-017,020-064
57,B23003,B23003_025,age_range,"(0, 18)","(20, 64)"
74,B26120,B26120_004,group_quarters,institutionalized,group_quarters
71,B26115,B26115_016,group_quarters,college,noninstitutionalized
101,B26220,B26220_004,group_quarters,institutionalized,group_quarters
115,B26220,B26220_018,group_quarters,noninstitutionalized,group_quarters
29,B23003,B23003_011,age_range,"(6, 17)","(20, 64)"
104,B26220,B26220_007,group_quarters,correctional,group_quarters

In [7]:
# Merge the table and column dataframes

t_only_cols = ['table_id'] + list(set(tdf.columns) - set(cdf.columns))
c_only_cols = list(set(cdf.columns) - set(tdf.columns))
cc = set(tdf.columns) & set(cdf.columns)

rows = []
for idx, r in cdf.iterrows():
    tabl = tabl_lu[r.table_id]

    com_v = {}

    for c in com_col:
        c_v = r[c]
        t_v = tabl[c]

        if c_v == 'all':
            v = t_v
        else:
            v = c_v

        com_v[c] = v

    d = r.to_dict()
    d.update(tabl)
    d.update(com_v)

    rows.append(d)

df = pd.DataFrame(rows)

df.sample(10)

,column_id,table_id,name,sex,race,age,age_range,min_age,max_age,poverty_status,...,units,technical,civilian,veteran,ft_employed,household,grand_pc,opposite_sex,housing,redundant_paths
11894,B19037D_030,B19037D,"$60,000 to $74,999",all,asian,025-044,"(25, 44)",25,44,all,...,dollars,False,all,all,all,True,all,all,all,False
13703,B20005G_055,B20005G,"$5,000 to $7,499",female,many,016-120,"(16, 120)",0,120,all,...,dollars,False,all,all,all,all,all,all,all,False
14254,B21100_008,B21100,70 percent or higher,all,all,018-120,"(18, 120)",0,120,all,...,people,False,True,True,all,all,all,all,all,False
17565,B24116_161,B24116,Other teachers and instructors,female,all,016-120,"(16, 120)",0,120,all,...,people,False,True,all,all,all,all,all,all,False
15095,B23022_048,B23022,1 to 13 weeks,female,all,016-064,"(16, 64)",0,120,all,...,people,False,all,all,all,all,all,all,all,False
11779,B19037B_053,B19037B,Householder 65 years and over,all,black,065-120,"(65, 120)",65,120,all,...,dollars,False,all,all,all,True,all,all,all,False
5392,B08412_012,B08412,60 to 89 minutes,all,all,016-120,"(16, 120)",0,120,all,...,people,False,all,all,all,all,all,all,all,False
26968,B27019_003,B27019,Less than high school graduate,all,all,026-064,"(26, 64)",26,64,all,...,people,False,True,all,all,all,all,all,all,False
16250,C24070_062,C24070,Retail trade,all,all,016-120,"(16, 120)",0,120,all,...,people,False,True,all,all,all,all,all,all,False
24952,B26109PR_024,B26109PR,Elsewhere,all,all,all,"(1, 120)",0,120,all,...,people,False,all,all,all,all,all,all,all,False

In [21]:
# The group id is the id of the first table that has this bare title
df['group_id'] = df.groupby('bare_title').table_id.transform(lambda g: min(g) )

339

In [8]:
cols = [
        'table_id', 'title', 'group_id', 'bare_title', 'universe', 'subject',
        'column_id',  'name', 'path', 'filtered_path', 'units',
        'sex', 'race', 'age', 'age_range', 'min_age', 'max_age',
        'poverty_status', 'has_income',   'employed', 'ft_employed',
        'marital_status','family',  'household', 'grand_pc', 'opposite_sex',
        'group_quarters', 'housing', 'tenure',
        'citizen',  'foreign_born',
        'civilian', 'veteran',
        'technical'
       ]

mdf = df[cols]
mdf.head()

,table_id,title,bare_title,universe,subject,column_id,name,path,filtered_path,units,...,grand_pc,opposite_sex,group_quarters,housing,tenure,citizen,foreign_born,civilian,veteran,technical
0,B01001,Sex By Age,Population,Total population,Age-Sex,B01001_001,Total,/total,,people,...,all,all,all,all,all,all,all,all,all,False
1,B01001,Sex By Age,Population,Total population,Age-Sex,B01001_002,Male,/total/male,,people,...,all,all,all,all,all,all,all,all,all,False
2,B01001,Sex By Age,Population,Total population,Age-Sex,B01001_003,Under 5 years,/total/male/under 5 years,,people,...,all,all,all,all,all,all,all,all,all,False
3,B01001,Sex By Age,Population,Total population,Age-Sex,B01001_004,5 to 9 years,/total/male/5 to 9 years,,people,...,all,all,all,all,all,all,all,all,all,False
4,B01001,Sex By Age,Population,Total population,Age-Sex,B01001_005,10 to 14 years,/total/male/10 to 14 years,,people,...,all,all,all,all,all,all,all,all,all,False