In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [2]:
pkg = mp.jupyter.open_package()
#pkg = mp.jupyter.open_source_package()
pkg

# Metadata for the 2020 ACS
`civicknowledge.com-census_meta-2020e5-2.3.1` Last Update: 2023-03-28T19:58:26

_Deatilsed metadata for ACS releases._






## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* **[metadata](data/metadata.csv)**. Combined columns and tables
* **[tables](data/tables.csv)**.
* **[columns](data/columns.csv)**.

In [12]:
df = pkg.resource('metadata').dataframe()
df = df[~df.subject.isin(['Imputations','Quality Measures'])]

In [13]:
df[~df.path.isnull()]

,table_id,title,bare_title,stripped_title,universe,subject,table_raceeth,table_age,table_sex,column_id,name,sex,raceeth,age,poverty_status,path,description
360,B02001,Race,Race,Race,Total population,Race,all,all,all,B02001_002,White alone,all,white,all,all,/white alone,"Race for Total population, white, white alone"
361,B02001,Race,Race,Race,Total population,Race,all,all,all,B02001_003,Black or African American alone,all,black,all,all,/black or african american alone,"Race for Total population, black, black or afr..."
362,B02001,Race,Race,Race,Total population,Race,all,all,all,B02001_004,American Indian and Alaska Native alone,all,aian,all,all,/american indian and alaska native alone,"Race for Total population, aian, american indi..."
363,B02001,Race,Race,Race,Total population,Race,all,all,all,B02001_005,Asian alone,all,asian,all,all,/asian alone,"Race for Total population, asian, asian alone"
364,B02001,Race,Race,Race,Total population,Race,all,all,all,B02001_006,Native Hawaiian and Other Pacific Islander alone,all,nhopi,all,all,/native hawaiian and other pacific islander alone,"Race for Total population, nhopi, native hawai..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27395,B29002,"Citizen, Voting-Age Population By Educational ...","Citizen, Voting-Age Population By Educational ...","Citizen, Voting-Age Population By Educational ...",Citizens 18 years and over,Voting-Age Population,all,018-120,all,B29002_005,"Some college, no degree",all,all,018-120,all,"/some college, no degree","Citizen, Voting-Age Population By Educational ..."
27396,B29002,"Citizen, Voting-Age Population By Educational ...","Citizen, Voting-Age Population By Educational ...","Citizen, Voting-Age Population By Educational ...",Citizens 18 years and over,Voting-Age Population,all,018-120,all,B29002_006,Associate's degree,all,all,018-120,all,/associate's degree,"Citizen, Voting-Age Population By Educational ..."
27397,B29002,"Citizen, Voting-Age Population By Educational ...","Citizen, Voting-Age Population By Educational ...","Citizen, Voting-Age Population By Educational ...",Citizens 18 years and over,Voting-Age Population,all,018-120,all,B29002_007,Bachelor's degree,all,all,018-120,all,/bachelor's degree,"Citizen, Voting-Age Population By Educational ..."
27398,B29002,"Citizen, Voting-Age Population By Educational ...","Citizen, Voting-Age Population By Educational ...","Citizen, Voting-Age Population By Educational ...",Citizens 18 years and over,Voting-Age Population,all,018-120,all,B29002_008,Graduate or professional degree,all,all,018-120,all,/graduate or professional degree,"Citizen, Voting-Age Population By Educational ..."
27402,B29004,Median Household Income For Households With A ...,Median Household Income For Households With A ...,Median Household Income For Households With A ...,"Households with a citizen, voting-age householder",Voting-Age Population,all,all,all,B29004_001,Median household income in the past 12 months ...,all,all,all,all,/median household income in the past 12 months...,Median Household Income For Households With A ...

In [8]:
df

,table_id,title,bare_title,stripped_title,universe,subject,table_raceeth,table_age,table_sex,column_id,name,sex,raceeth,age,poverty_status,path,description
0,B01001,Sex By Age,Sex By Age,Population,Total population,Age-Sex,all,all,all,B01001_001,Total,all,all,all,all,NaN,"Sex By Age for Total population,"
1,B01001,Sex By Age,Sex By Age,Population,Total population,Age-Sex,all,all,all,B01001_002,Male,male,all,all,all,NaN,"Sex By Age for Total population, male,"
2,B01001,Sex By Age,Sex By Age,Population,Total population,Age-Sex,all,all,all,B01001_003,Under 5 years,male,all,000-005,all,NaN,"Sex By Age for Total population, male, ages 0 ..."
3,B01001,Sex By Age,Sex By Age,Population,Total population,Age-Sex,all,all,all,B01001_004,5 to 9 years,male,all,005-009,all,NaN,"Sex By Age for Total population, male, ages 5 ..."
4,B01001,Sex By Age,Sex By Age,Population,Total population,Age-Sex,all,all,all,B01001_005,10 to 14 years,male,all,010-014,all,NaN,"Sex By Age for Total population, male, ages 10..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27845,B99283,Allocation Of Household Internet Subscription ...,Allocation Of Household Internet Subscription ...,Allocation Of Household Internet Subscription ...,Households,Imputations,all,all,all,B99283_001,Total,all,all,all,all,NaN,Allocation Of Household Internet Subscription ...
27846,B99283,Allocation Of Household Internet Subscription ...,Allocation Of Household Internet Subscription ...,Allocation Of Household Internet Subscription ...,Households,Imputations,all,all,all,B99283_002,Dial-up,all,all,all,all,/allocated/dial-up,Allocation Of Household Internet Subscription ...
27847,B99283,Allocation Of Household Internet Subscription ...,Allocation Of Household Internet Subscription ...,Allocation Of Household Internet Subscription ...,Households,Imputations,all,all,all,B99283_003,"Broadband such as cable, fiberoptic, or DSL, s...",all,all,all,all,"/allocated/broadband such as cable, fiberoptic...",Allocation Of Household Internet Subscription ...
27848,B99283,Allocation Of Household Internet Subscription ...,Allocation Of Household Internet Subscription ...,Allocation Of Household Internet Subscription ...,Households,Imputations,all,all,all,B99283_004,Cellular data plan,all,all,all,all,/allocated/cellular data plan,Allocation Of Household Internet Subscription ...
27849,B99283,Allocation Of Household Internet Subscription ...,Allocation Of Household Internet Subscription ...,Allocation Of Household Internet Subscription ...,Households,Imputations,all,all,all,B99283_005,Not allocated,all,all,all,all,/not allocated,Allocation Of Household Internet Subscription ...