In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [2]:
pkg = mp.jupyter.open_package()
#pkg = mp.jupyter.open_source_package()
pkg

# Metadata for the 2020 ACS
`civicknowledge.com-census_meta-2020e5-3.3.1` Last Update: 2023-04-22T00:23:32

_Deatilsed metadata for ACS releases._






## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* **[metadata](data/metadata.csv)**. Combined columns and tables
* **[tables](data/tables.csv)**.
* **[columns](data/columns.csv)**.

In [3]:
df = pkg.resource('metadata').dataframe()
df = df[~df.subject.isin(['Imputations','Quality Measures'])]

In [4]:
df.head().T

,0,1,2,3,4
table_id,B01001,B01001,B01001,B01001,B01001
title,Sex By Age,Sex By Age,Sex By Age,Sex By Age,Sex By Age
group_id,G01001,G01001,G01001,G01001,G01001
bare_title,Population,Population,Population,Population,Population
universe,Total population,Total population,Total population,Total population,Total population
subject,Age-Sex,Age-Sex,Age-Sex,Age-Sex,Age-Sex
column_id,B01001_001,B01001_002,B01001_003,B01001_004,B01001_005
name,Total,Male,Under 5 years,5 to 9 years,10 to 14 years
path,/total,/total/male,/total/male/under 5 years,/total/male/5 to 9 years,/total/male/10 to 14 years
filtered_path,NaN,NaN,NaN,NaN,NaN
technical,False,False,False,False,False
units,people,people,people,people,people
age,all,all,000-005,005-009,010-014
sex,all,male,male,male,male
race,all,all,all,all,all
poverty_status,all,all,all,all,all
has_income,all,all,all,all,all
employed,all,all,all,all,all
ft_employed,all,all,all,all,all
marital_status,all,all,all,all,all
family,all,all,all,all,all
household,all,all,all,all,all
grand_pc,all,all,all,all,all
opposite_sex,all,all,all,all,all
group_quarters,all,all,all,all,all
housing,all,all,all,all,all
tenure,all,all,all,all,all
citizen,all,all,all,all,all
foreign_born,all,all,all,all,all
military,all,all,all,all,all

In [5]:
for c in df.loc[:, 'age':]:
    l = list(df[c].unique())
    if 'all' in l:
        l.remove('all')
    print(c, l)

age ['000-005', '005-009', '010-014', '015-017', '018-019', '020-020', '021-021', '022-024', '025-029', '030-034', '035-039', '040-044', '045-049', '050-054', '055-059', '060-061', '062-064', '065-066', '067-069', '070-074', '075-079', '080-084', '085-120', '020-024', '035-044', '045-054', '055-064', '065-074', '075-084', '000-018', '018-120', '000-006', '006-017', '015-019', '060-064', '065-069', '000-010', '010-019', '020-029', '030-039', '040-049', '050-059', '060-069', '070-120', '005-017', '018-024', '025-034', '075-120', '005-120', '015-120', '025-120', '001-004', '016-120', '016-019', '025-044', '065-120', '000-003', '003-004', '005-005', '006-008', '009-011', '012-014', '006-011', '012-017', '018-034', '035-064', '030-120', '060-120', '015-064', '015-054', '015-050', '020-034', '035-050', '016-050', '045-050', '003-120', '035-120', '045-064', '025-039', '040-064', '018-064', '015-015', '016-017', '000-025', '018-059', '060-074', '000-019', '019-064', '015-024', '035-054', '060-060', '020-021', '016-064', '020-064', '025-064', '015-034', '000-015', '065-065', '006-018', '019-025', '026-034', '019-034', '026-120', '026-064', '018-029', '030-044']
sex ['male', 'female']
race ['white', 'black', 'aian', 'asian', 'nhopi', 'other', 'many', 'nhwhite', 'hisp', 'nhisp']
poverty_status ['lt100', '100-150', 'gt150', 'gt100', '100-138', '138-200', '200-400', 'gt400']
has_income ['Y']
employed ['Y', 'N']
ft_employed ['Y']
marital_status ['never', 'married', 'divorced', 'separated', 'widowed']
family ['family', 'nonfamily']
household ['Y']
grand_pc ['Y']
opposite_sex ['Y']
group_quarters ['noninstitutionalized', 'group_quarters', 'institutionalized', 'correctional', 'nursing', 'college', 'juvenile', 'military']
housing ['Y']
tenure ['owner', 'renter', 'occupied', 'vacant']
citizen ['N', 'Y']
foreign_born ['N', 'Y']
military ['civilian', 'veteran']

In [6]:
df[df.foreign_born=='True'].universe.unique()

array([], dtype=object)

In [7]:
df[df.universe.str.lower().str.contains('born')].universe.unique()

array(['Population born outside the United States',
       'Population born outside Puerto Rico',
       'Foreign-born population excluding population born at sea',
       'Foreign-born population in Puerto Rico excluding population born at sea',
       'Foreign-born population'], dtype=object)

In [8]:
df[['subject','bare_title']].drop_duplicates().sort_values('subject')

,subject,bare_title
0,Age-Sex,Population
266,Age-Sex,NaN
328,Age-Sex,Sex
955,Ancestry,Ancestry
846,Ancestry,People Reporting Ancestry
...,...,...
14005,Veteran Status,Veteran Status
14247,Veteran Status,Service-Connected Disability-Rating Status And...
14044,Veteran Status,Period Of Military Service
27386,Voting-Age Population,Citizen Voting-Age
27402,Voting-Age Population,Median Household Income

In [9]:
df.loc[12326]

table_id                                                     B19069
title             Aggregate Retirement Income In The Past 12 Mon...
group_id                                                     G19069
bare_title                              Aggregate Retirement Income
universe                                                 Households
subject                                                      Income
column_id                                                B19069_001
name              Aggregate retirement income in the past 12 mon...
path              /aggregate retirement income in the past 12 mo...
filtered_path     /aggregate retirement income in the past 12 mo...
technical                                                     False
units                                                       dollars
age                                                             all
sex                                                             all
race                                                            all
poverty_status                                                  all
has_income                                                      all
employed                                                        all
ft_employed                                                     all
marital_status                                                  all
family                                                          all
household                                                         Y
grand_pc                                                        all
opposite_sex                                                    all
group_quarters                                                  all
housing                                                         all
tenure                                                          all
citizen                                                         all
foreign_born                                                    all
military                                                        all
Name: 12326, dtype: object